a.shortLink {
    text-decoration: none;
}

a.shortLink:hover {
    text-decoration: none;
}

.logo {
    font-family: 'Quicksand', sans-serif !important;
}


/* Media query */


/* Desktop */

@media screen and (min-width: 768px) {
    .title {
        overflow: hidden;
        white-space: nowrap;
    }
}


/* Mobile */

@media screen and (max-width: 768px) {
    .title {
        overflow: scroll;
        white-space: nowrap;
    }
}