.slide img {
    width: 100%;
    height: auto;
    padding: 5px;
}

.slick-dots {
    text-align: center;
    margin: 0 0 10px 0;
    padding: 0;
}

.slick-dots li {
    display: inline-block;
    margin-left: 4px;
    margin-right: 4px;
}

.slick-dots li.slick-active button {
    background-color: black;
}

.slick-dots li button {
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
    background-color: #999;
    border: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.slick-dots li :hover {
    background-color: black;
}


/* Custom Arrow */

.prev {
    color: #999;
    position: absolute;
    top: 38%;
    left: -2em;
    font-size: 1.5em;
}

.prev :hover {
    cursor: pointer;
    color: black;
}

.next {
    color: #999;
    position: absolute;
    top: 38%;
    right: -2em;
    font-size: 1.5em;
}

.next :hover {
    cursor: pointer;
    color: black;
}

@media screen and (max-width: 800px) {
    .next {
        display: none !important;
    }
}