body {
    font-family: 'Lato', sans-serif !important;
}

.logo {
    font-family: 'Quicksand', sans-serif !important;
    font-size: 25px !important;
}

.open-sans {
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: unset !important;
}

a {
    text-decoration: none !important;
    color: unset !important;
}

a:hover {
    text-decoration: none !important;
}

.shadow-custom-1 {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    transition: 0.5s !important
}

.shadow-custom-1:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25);
}

.shadow-custom-2 {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25);
}

.shadow-custom-3 {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    transition: 0.5s !important
}

.shadow-custom-3:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25);
}

.sticks {
    position: -webkit-sticky;
    position: sticky !important;
    top: 90px;
}

.bg-grad {
    background-image: radial-gradient( circle 966px at 6.9% 10.8%, rgba(92, 123, 237, 1) 0%, rgba(147, 186, 252, 1) 90%);
}

.bg-grad-1 {
    background-image: linear-gradient( 109.8deg, rgba(62, 5, 116, 1) -5.2%, rgba(41, 14, 151, 1) -5.2%, rgba(216, 68, 148, 1) 103.3%) !important;
}

.bg-grad-2 {
    background-image: linear-gradient( 105.3deg, rgba(30, 39, 107, 1) 21.8%, rgba(77, 118, 221, 1) 100.2%);
}

.has-icon .form-control {
    padding-left: 2.375rem;
}

.has-icon .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    /*height: 2.375rem;*/
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.inner-addon {
    position: relative;
}


/* input with icon */

.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
    color: black;
}

.left-addon .glyphicon {
    left: 0px;
}

.right-addon .glyphicon {
    right: 0px;
}

.left-addon input {
    padding-left: 30px;
}

.right-addon input {
    padding-right: 30px;
}


/* input with icon */

.btn-grad {
    background-image: linear-gradient(to right, #1A2980 0%, #26D0CE 51%, #1A2980 100%)
}

.btn-grad {
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
}

.btn-grad:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.btn-grad-1 {
    background-image: linear-gradient(to right, #6441A5 0%, #2a0845 51%, #6441A5 100%);
    transition: all 0.3s;
}

.btn-grad-1 {
    padding: 15px 45px;
    text-align: center;
    transition: all 0.3s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.btn-grad-1:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
    transition: all 0.3s;
}

.btn-grad-1:not(:hover) {
    transition: all 0.3s;
}

.fb {
    color: #4B69B1
}

.twitter {
    color: #2BB2E1
}

.youtube {
    color: #E83F3A
}

.linkedin {
    color: #1278B6
}

.ig {
    color: #DA2E56
}

.link {
    text-decoration: underline !important;
    color: #6C99FF !important;
}

.fs-20 {
    font-size: 20px !important;
}

.fs-18 {
    font-size: 18px !important;
}

.fs-16 {
    font-size: 16px !important;
}

.fs-14 {
    font-size: 14px !important;
}

.fs-12 {
    font-size: 12px !important;
}


/* owl carousel with thumbnail 

.outer {
    margin: 0 auto;
    max-width: 800px;
}

#big .item {
    background: white;
    color: #FFF;
    border-radius: 3px;
    text-align: center;
}

#thumbs .item {
    background: #C9C9C9;
    height: 70px;
    line-height: 70px;
    padding: 0px;
    margin: 2px;
    color: #FFF;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
}

#thumbs .item h1 {
    font-size: 18px;
}

#thumbs .current .item {
    background: #FF5722;
}

.owl-theme .owl-nav [class*='owl-'] {
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.owl-theme .owl-nav [class*='owl-'].disabled:hover {
    background-color: #D6D6D6;
}

#big.owl-theme {
    position: relative;
}

#big.owl-theme .owl-next,
#big.owl-theme .owl-prev {
    background: rgba(0, 0, 0, 0.075);
    width: 22px;
    line-height: 40px;
    height: 40px;
    margin-top: -20px;
    position: absolute;
    text-align: center;
    top: 50%;
}

#big.owl-theme .owl-prev {
    left: 10px;
}

#big.owl-theme .owl-next {
    right: 10px;
}

#thumbs.owl-theme .owl-next,
#thumbs.owl-theme .owl-prev {
    background: rgba(0, 0, 0, 0.075);
}


/* Media query */


/* Desktop */

@media screen and (min-width: 768px) {
    .title {
        overflow: hidden;
        white-space: nowrap;
    }
    .sidebar {
        float: left;
        width: 225px;
        display: block;
        transition: 0.5s;
    }
    .main {
        margin-left: 225px;
    }
    .thumbnails {
        width: 100%
    }
    .mhn-slide .owl-stage {
        display: flex;
        align-items: center;
        padding: 10;
    }
    .top-body {
        margin-top: 20px;
    }
    .middleVertical {
        display: flex;
        align-items: center;
    }
}


/* Mobile*/

@media screen and (max-width: 768px) {
    .title {
        overflow: scroll;
        white-space: nowrap;
    }
    .sidebar {
        transition: 0.5s;
        display: none;
    }
    .main {
        margin-left: unset;
    }
    .thumbnails {
        width: 100% !important;
        margin: -10% auto;
    }
    .mhn-slide .owl-stage {
        display: flex;
        align-items: center;
        padding: unset;
    }
    .top-body {
        margin-top: 90px
    }
    .middleVertical {
        display: block;
        align-items: center;
    }
}


/* book */

.box-book {
    z-index: 1;
    perspective: 3000px;
}

.box-book .book {
    position: relative;
    display: block;
    width: 170px;
    height: 270px;
    margin: 5% auto;
    border-radius: 2px 4px 4px 2px;
    background: linear-gradient(45deg, #DAD5DC 0%, #f2ebf4 100%);
    font-family: acumin-pro, sans-serif;
    -webkit-box-shadow: 13px 13px 8px 0px rgba(151, 146, 153, 0.6);
    -moz-box-shadow: 13px 13px 8px 0px rgba(151, 146, 153, 0.6);
    box-shadow: 13px 13px 8px 0px rgba(151, 146, 153, 0.6);
    font-weight: 400;
    color: #2b2b2b;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: -webkit-transform .5s;
    -moz-transition: -moz-transform .5s;
    transition: transform .5s;
}

.box-book .book:hover {
    -webkit-transform: rotate3d(0, 1, 0, 35deg);
    -moz-transform: rotate3d(0, 1, 0, 35deg);
    transform: rotate3d(0, 1, 0, 35deg);
}

.box-book .book>div,
.box-book .front>div {
    display: block;
    position: absolute;
}

.box-book .front {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 0% 50%;
    -moz-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-transition: -webkit-transform .5s;
    -moz-transition: -moz-transform .5s;
    transition: transform .5s;
    -webkit-transform: translate3d(0, 0, 20px);
    -moz-transform: translate3d(0, 0, 20px);
    transform: translate3d(0, 0, 20px);
    z-index: 10;
}

.box-book .front>div {
    width: 170px;
    height: 270px;
}

.box-book .left-side {
    width: 40px;
    left: -20px;
    height: 270px;
    overflow: hidden;
    /*background-color: rgba(232, 229, 234);*/
    -webkit-transform: rotate3d(0, 1, 0, -90deg);
    -moz-transform: rotate3d(0, 1, 0, -90deg);
    transform: rotate3d(0, 1, 0, -90deg);
}

.box-book .front>div {
    border-radius: 0 3px 3px 0;
    box-shadow: inset 4px 0 10px rgba(0, 0, 0, 0.1);
}

.box-book .front:after {
    content: '';
    position: absolute;
    top: 1px;
    bottom: 1px;
    left: -1px;
    width: 1px;
}

.box-book .cover:after {
    content: '';
    position: absolute;
    top: 0;
    left: 10px;
    bottom: 0;
    width: 3px;
    background: rgba(0, 0, 0, 0.1);
    box-shadow: 1px 0 3px rgba(255, 255, 255, 0.1);
}

.box-book h2 {
    width: 300px;
    height: 40px;
    color: #2b2b2b;
    font-size: 15px;
    line-height: 40px;
    padding-right: 10px;
    text-align: right;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotate(90deg) translateY(-40px);
    -moz-transform: rotate(90deg) translateY(-40px);
    transform: rotate(90deg) translateY(-40px);
}

.cover {
    background: linear-gradient(45deg, #DAD5DC 0%, #f2ebf4 100%);
}

.left-side h2 span:first-child {
    font-weight: 400;
    font-size: 13px;
    padding-right: 35px;
}

.left-side h2 span:last-child {
    font-family: acumin-pro, sans-serif;
}

]
/* book listing */

.box-book2 {
    z-index: 1;
    perspective: 3000px;
}

.box-book2 .book2 {
    position: relative;
    display: block;
    width: 150px;
    height: 230px;
    margin: 5% auto;
    border-radius: 2px 4px 4px 2px;
    background: linear-gradient(45deg, #DAD5DC 0%, #f2ebf4 100%);
    font-family: acumin-pro, sans-serif;
    -webkit-box-shadow: 13px 13px 8px 0px rgba(151, 146, 153, 0.6);
    -moz-box-shadow: 13px 13px 8px 0px rgba(151, 146, 153, 0.6);
    box-shadow: 13px 13px 8px 0px rgba(151, 146, 153, 0.6);
    font-weight: 400;
    color: #2b2b2b;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: -webkit-transform .5s;
    -moz-transition: -moz-transform .5s;
    transition: transform .5s;
}

.box-book2 .book2:hover {
    -webkit-transform: rotate3d(0, 1, 0, 35deg);
    -moz-transform: rotate3d(0, 1, 0, 35deg);
    transform: rotate3d(0, 1, 0, 35deg);
}

.box-book2 .book2>div,
.box-book2 .front2>div {
    display: block;
    position: absolute;
}

.box-book2 .front2 {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 0% 50%;
    -moz-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-transition: -webkit-transform .5s;
    -moz-transition: -moz-transform .5s;
    transition: transform .5s;
    -webkit-transform: translate3d(0, 0, 20px);
    -moz-transform: translate3d(0, 0, 20px);
    transform: translate3d(0, 0, 20px);
    z-index: 10;
}

.box-book2 .front2>div {
    width: 150px;
    height: 230px;
}

.box-book2 .left-side2 {
    width: 40px;
    left: -20px;
    height: 230px;
    overflow: hidden;
    /*background-color: rgba(232, 229, 234);*/
    -webkit-transform: rotate3d(0, 1, 0, -90deg);
    -moz-transform: rotate3d(0, 1, 0, -90deg);
    transform: rotate3d(0, 1, 0, -90deg);
}

.box-book2 .front2>div {
    border-radius: 0 3px 3px 0;
    box-shadow: inset 4px 0 10px rgba(0, 0, 0, 0.1);
}

.box-book2 .front2:after {
    content: '';
    position: absolute;
    top: 1px;
    bottom: 1px;
    left: -1px;
    width: 1px;
}

.box-book2 .cover2:after {
    content: '';
    position: absolute;
    top: 0;
    left: 10px;
    bottom: 0;
    width: 3px;
    background: rgba(0, 0, 0, 0.1);
    box-shadow: 1px 0 3px rgba(255, 255, 255, 0.1);
}

.box-book2 h2 {
    width: 300px;
    height: 40px;
    color: #2b2b2b;
    font-size: 15px;
    line-height: 40px;
    padding-right: 10px;
    text-align: right;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotate(90deg) translateY(-40px);
    -moz-transform: rotate(90deg) translateY(-40px);
    transform: rotate(90deg) translateY(-40px);
}

.cover2 {
    background: linear-gradient(45deg, #DAD5DC 0%, #f2ebf4 100%);
}

.left-side2 h2 span:first-child {
    font-weight: 400;
    font-size: 13px;
    padding-right: 35px;
}

.left-side2 h2 span:last-child {
    font-family: acumin-pro, sans-serif;
}

.bg-grad {
    background-image: radial-gradient( circle 966px at 6.9% 10.8%, rgba(92, 123, 237, 1) 0%, rgba(147, 186, 252, 1) 90%);
}

.bg-grad-1 {
    background-image: radial-gradient( circle farthest-corner at 16.5% 28.1%, rgba(15, 27, 49, 1) 0%, rgba(0, 112, 218, 1) 90%);
}

.bg-grad-2 {
    background-image: radial-gradient( circle farthest-corner at 16.5% 28.1%, rgba(15, 27, 49, 1) 0%, rgba(0, 112, 218, 1) 90%);
}

.bg-grad-3 {
    background-image: radial-gradient( circle farthest-corner at 16.5% 28.1%, rgba(15, 27, 49, 1) 0%, rgba(0, 112, 218, 1) 90%);
}

.rounded-top-6 {
    border-top-left-radius: 8px !important;
    border-top-right-radius: 8px !important;
}

.rounded-bottom-6 {
    border-bottom-left-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
}


/* animation particle */

#background {
    position: absolute;
    right: 0;
    left: 0;
    z-index: 0;
    background-size: cover;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.fw-700 {
    font-weight: 700 !important;
}


/* animation particle */


/* owl custom */

@-webkit-keyframes L_circle_rotate {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes L_circle_rotate {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-webkit-keyframes L_stroke_rotate {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    12.5% {
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg)
    }
    25% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg)
    }
    37.5% {
        -webkit-transform: rotate(405deg);
        transform: rotate(405deg)
    }
    50% {
        -webkit-transform: rotate(540deg);
        transform: rotate(540deg)
    }
    62.5% {
        -webkit-transform: rotate(675deg);
        transform: rotate(675deg)
    }
    75% {
        -webkit-transform: rotate(810deg);
        transform: rotate(810deg)
    }
    87.5% {
        -webkit-transform: rotate(945deg);
        transform: rotate(945deg)
    }
    100% {
        -webkit-transform: rotate(1080deg);
        transform: rotate(1080deg)
    }
}

@keyframes L_stroke_rotate {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    12.5% {
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg)
    }
    25% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg)
    }
    37.5% {
        -webkit-transform: rotate(405deg);
        transform: rotate(405deg)
    }
    50% {
        -webkit-transform: rotate(540deg);
        transform: rotate(540deg)
    }
    62.5% {
        -webkit-transform: rotate(675deg);
        transform: rotate(675deg)
    }
    75% {
        -webkit-transform: rotate(810deg);
        transform: rotate(810deg)
    }
    87.5% {
        -webkit-transform: rotate(945deg);
        transform: rotate(945deg)
    }
    100% {
        -webkit-transform: rotate(1080deg);
        transform: rotate(1080deg)
    }
}

@-webkit-keyframes L_stroke_left_grow {
    0%,
    100% {
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg)
    }
    50% {
        -webkit-transform: rotate(-140deg);
        transform: rotate(-140deg)
    }
}

@keyframes L_stroke_left_grow {
    0%,
    100% {
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg)
    }
    50% {
        -webkit-transform: rotate(-140deg);
        transform: rotate(-140deg)
    }
}

@-webkit-keyframes L_stroke_right_grow {
    0%,
    100% {
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg)
    }
    50% {
        -webkit-transform: rotate(140deg);
        transform: rotate(140deg)
    }
}

@keyframes L_stroke_right_grow {
    0%,
    100% {
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg)
    }
    50% {
        -webkit-transform: rotate(140deg);
        transform: rotate(140deg)
    }
}

.loader-circle {
    top: 50%;
    left: 50%;
    z-index: 1;
    color: #444;
    margin-top: -1em;
    margin-left: -1em;
    position: absolute;
    -webkit-animation: L_circle_rotate 1.568s linear infinite both;
    animation: L_circle_rotate 1.568s linear infinite both
}

.loader-circle .loader-stroke-left:before,
.loader-circle .loader-stroke-right:before,
.loader-circle:before {
    content: '';
    display: block;
    border-style: solid;
    border-width: .21429em;
    border-color: currentColor
}

.loader-circle,
.loader-circle .loader-stroke-left,
.loader-circle .loader-stroke-left:before,
.loader-circle .loader-stroke-right,
.loader-circle .loader-stroke-right:before,
.loader-circle:before {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    box-sizing: border-box
}

.loader-circle .loader-stroke-left:before,
.loader-circle .loader-stroke-right {
    position: absolute;
    clip: rect(0 2em 2em 1em)
}

.loader-circle .loader-stroke-left,
.loader-circle .loader-stroke-right:before {
    position: absolute;
    clip: rect(0 1em 2em 0)
}

.loader-circle:before {
    position: absolute;
    clip: rect(0 1.05em 1em .95em)
}

.loader-circle .loader-stroke-left,
.loader-circle .loader-stroke-right,
.loader-circle:before {
    -webkit-animation: L_stroke_rotate 5332ms cubic-bezier(.4, 0, .2, 1) infinite both;
    animation: L_stroke_rotate 5332ms cubic-bezier(.4, 0, .2, 1) infinite both
}

.loader-circle .loader-stroke-right:before {
    -webkit-animation: L_stroke_right_grow 1333ms cubic-bezier(.4, 0, .2, 1) infinite both;
    animation: L_stroke_right_grow 1333ms cubic-bezier(.4, 0, .2, 1) infinite both
}

.loader-circle .loader-stroke-left:before {
    -webkit-animation: L_stroke_left_grow 1333ms cubic-bezier(.4, 0, .2, 1) infinite both;
    animation: L_stroke_left_grow 1333ms cubic-bezier(.4, 0, .2, 1) infinite both
}


/*
.mhn-slide .mhn-inner img {
    display: none;
}*/

.mhn-slide .owl-item {
    width: 100%;
    padding: 5px
}


/*


.mhn-slide .mhn-inner {
    width: 100%;
    height: 100%;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .16), 0 2px 5px 0 rgba(0, 0, 0, .26);
    border-radius: 3px
}

.mhn-slide .mhn-item img {
    display: none
}

.mhn-slide .mhn-img {
    max-height: 150px;
    overflow: hidden;
    height: 100%;
    width: 100%;
    color: white;
    position: relative
}

.mhn-slide .mhn-text {
    text-align: center;
    padding: 0 10px
}

.mhn-slide .mhn-text h4 {
    font-weight: 700;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}

.mhn-slide .mhn-text p {
    max-height: 4.5em;
    overflow: hidden
}

.mhn-slide .owl-stage-outer {
    z-index: 1
}
*/


/*
.mhn-slide .owl-nav {
    color: #333;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0
}*/

.mhn-slide .owl-nav svg {
    color: currentColor
}

.mhn-slide .owl-nav .disabled {
    display: none
}

.mhn-slide .owl-prev,
.mhn-slide .owl-next {
    top: 110px;
    z-index: 2;
    width: 40px;
    height: 40px;
    padding: 8px;
    margin-top: -20px;
    position: absolute;
    border-radius: 50%;
    background-color: #fff !important;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .3), 0 0 4px rgba(0, 0, 0, .2)
}

.mhn-slide .owl-prev {
    left: -10px;
}

.mhn-slide .owl-next {
    right: -10px
}

.sorot {
    text-decoration: underline !important;
}

.text-grey {
    color: rgb(214, 214, 214) !important;
}


/**
 * Extracted from: SweetAlert
 * Modified by: Istiak Tridip
 success confirm
 */

.success-checkmark {
    width: 80px;
    height: 115px;
    margin: 0 auto;
}

.success-checkmark .check-icon {
    width: 80px;
    height: 80px;
    position: relative;
    border-radius: 50%;
    box-sizing: content-box;
    border: 4px solid #4CAF50;
}

.success-checkmark .check-icon::before {
    top: 3px;
    left: -2px;
    width: 30px;
    transform-origin: 100% 50%;
    border-radius: 100px 0 0 100px;
}

.success-checkmark .check-icon::after {
    top: 0;
    left: 30px;
    width: 60px;
    transform-origin: 0 50%;
    border-radius: 0 100px 100px 0;
    animation: rotate-circle 4.25s ease-in;
}

.success-checkmark .check-icon::before,
.success-checkmark .check-icon::after {
    content: "";
    height: 100px;
    position: absolute;
    background: #FFFFFF;
    transform: rotate(-45deg);
}

.success-checkmark .check-icon .icon-line {
    height: 5px;
    background-color: #4CAF50;
    display: block;
    border-radius: 2px;
    position: absolute;
    z-index: 10;
}

.success-checkmark .check-icon .icon-line.line-tip {
    top: 46px;
    left: 14px;
    width: 25px;
    transform: rotate(45deg);
    animation: icon-line-tip 0.75s;
}

.success-checkmark .check-icon .icon-line.line-long {
    top: 38px;
    right: 8px;
    width: 47px;
    transform: rotate(-45deg);
    animation: icon-line-long 0.75s;
}

.success-checkmark .check-icon .icon-circle {
    top: -4px;
    left: -4px;
    z-index: 10;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    box-sizing: content-box;
    border: 4px solid rgba(76, 175, 80, 0.5);
}

.success-checkmark .check-icon .icon-fix {
    top: 8px;
    width: 5px;
    left: 26px;
    z-index: 1;
    height: 85px;
    position: absolute;
    transform: rotate(-45deg);
    background-color: #FFFFFF;
}

@keyframes rotate-circle {
    0% {
        transform: rotate(-45deg);
    }
    5% {
        transform: rotate(-45deg);
    }
    12% {
        transform: rotate(-405deg);
    }
    100% {
        transform: rotate(-405deg);
    }
}

@keyframes icon-line-tip {
    0% {
        width: 0;
        left: 1px;
        top: 19px;
    }
    54% {
        width: 0;
        left: 1px;
        top: 19px;
    }
    70% {
        width: 50px;
        left: -8px;
        top: 37px;
    }
    84% {
        width: 17px;
        left: 21px;
        top: 48px;
    }
    100% {
        width: 25px;
        left: 14px;
        top: 45px;
    }
}

@keyframes icon-line-long {
    0% {
        width: 0;
        right: 46px;
        top: 54px;
    }
    65% {
        width: 0;
        right: 46px;
        top: 54px;
    }
    84% {
        width: 55px;
        right: 0px;
        top: 35px;
    }
    100% {
        width: 47px;
        right: 8px;
        top: 38px;
    }
}