<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/bootstrap-datetimepicker.min.css" rel="stylesheet">

<div class='input-group date' id='datetimepicker'>
    <input type='text' class="form-control" />
    <span class="input-group-addon">
									<span class="glyphicon glyphicon-calendar"></span>
    </span>
</div>

<script src="js/jQuery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/moment.js"></script>
<script src="js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript">
    $(function() {
        var dateNow = new Date();
        $('#datetimepicker').datetimepicker({
            format: 'DD MMMM YYYY HH:mm',
            defaultDate: dateNow
        });

    });
</script>
</body>

</html>