#shape {
    margin: auto;
    /*border: 3px solid blue;*/
    width: 80px;
    height: 80px;
    -webkit-animation: spin 20s infinite linear;
    -webkit-transform-style: preserve-3d;
}

#shape>div {
    border: 1px solid #dcdcdc;
    position: absolute;
    width: 80px;
    height: 80px;
    -webkit-border-radius: 4px;
    -webkit-transition: -webkit-transform 2s;
}

#shape>div img {
    width: 100%;
    height: 100%;
}


/* This is where the 3D magic happens */

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotateY(0) rotateX(0);
    }
    to {
        -webkit-transform: rotateY(-360deg) rotateX(360deg);
    }
}


/* 3D positioning for each of the images/links */

.one {
    -webkit-transform: rotateX(90deg) translateZ(40px);
}

.two {
    -webkit-transform: translateZ(40px);
}

.three {
    -webkit-transform: rotateY(90deg) translateZ(40px);
}

.four {
    -webkit-transform: rotateY(180deg) translateZ(40px);
}

.five {
    -webkit-transform: rotateY(-90deg) translateZ(40px);
}

.six {
    -webkit-transform: rotateX(-90deg) translateZ(40px);
}